%gradient {
  	background: #b84d9d; /* Old browsers */
	background: -moz-linear-gradient(left, #b84d9d 0%, #875eaa 45%, #6f67b0 57%, #4375ba 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #b84d9d 0%,#875eaa 45%,#6f67b0 57%,#4375ba 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #b84d9d 0%,#875eaa 45%,#6f67b0 57%,#4375ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b84d9d', endColorstr='#4375ba',GradientType=1 ); /* IE6-9 */
}