@import 'repeat';
@import 'normalize';

.top-head {
	display: flex;
    align-items: center;
    height: 50px;
    color: white;
	font-size: 12px;
    background: #8b3482; /* Old browsers */
	background: -moz-linear-gradient(left, #8b3482 1%, #5d418e 45%, #464a94 57%, #2a56a1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #8b3482 1%,#5d418e 45%,#464a94 57%,#2a56a1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #8b3482 1%,#5d418e 45%,#464a94 57%,#2a56a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b3482', endColorstr='#2a56a1',GradientType=1 ); /* IE6-9 */
	
	.renting-text {
		margin-bottom: 0px;
		color: white;
	}

	.renting-text:hover {
		text-decoration: underline;
	}

	.items {
		padding-left: 0px;
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 0px;
		height: 100%;
		.fa-question-circle {
			margin-right: 5px;
		}
		.item {
			padding-left: 30px;
			a {
				color: white;
			}
		}
	}
}

.navbar {
	@extend %gradient;
	
	.navbar-toggler {
		border-color: #b24f9f00;
		outline: 1px auto;
	}
	.navbar-toggler:focus {
		border-color: #b24f9fa3;
	}
	.navbar-nav {
		.nav-link:hover, .nav-link:focus{
			color: white;
			text-decoration: underline;
		}
		
		.nav-link {
		    color: white;
		}

		.active > .nav-link {
			color: white;
			text-decoration: underline;
		}

		.active {
			text-decoration: underline;
		}
	}
	
	.form-control {
		margin-right: 12px;
		background-color: transparent;
	}

	.form-control:focus {
	    border-color: #965aa4;
	    outline: 0;
	    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}

	::placeholder {
		color: white;
	}

	.btn-outline-success {
		border-radius: 25%;
	    border-color: white!important;
	    transition: all .3s ease;
	    .fa-search {
	    	color: white;
	    }
	}

	.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:focus, .btn-outline-success:visited, .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
		background-color: #965aa4;
		box-shadow: 0 0 0 0.2rem rgb(71, 116, 185);
	}

	input[type=search] { 	
		color: white;
	}

	.form-inline {
		flex-flow: nowrap;
		justify-content: center;
	}

	.nav-item {
		text-align: center;
	}

}

.jumbotron {
	overflow: hidden;
	height: 1125px;
	margin-bottom: 0rem;
	background-image: url("../img/front.jpeg");
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	color: white;
	.display-4, .btn {
		z-index: 2;
		position: relative;
	}
	.btn {
		color: #ffffff;
	    background: linear-gradient(to right, #b84d9d 0%,#875eaa 45%,#6f67b0 57%,#4375ba 100%);
	    background-image: none;
	    border-color: #ffffff;
	    width: 195px;
	    transition: all .3s ease;
	}
	.btn:hover {
		@extend %gradient;
		background-position:194px;
	}
	.wrapper-google-btn {
		position: relative;
	    bottom: 0px;
	    transition: all .3s ease;
		.google-btn {
			width: 200px;
		    display: block;
		    text-align: center;
		    margin: 0 auto;
		    z-index: 2;
		    position: relative;
		    margin-top: 30px;
		}
	}
	.wrapper-google-btn:hover {
		bottom: 10px;
		position: relative;
	}
	.phone-wrapper {
		position: relative;
		z-index: 2;
		bottom: -100px;
	}
}

@media only screen and (max-width : 768px) {
	.jumbotron {
		height: 100vh;
	}
}

.jumbotron:before {
	content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}

.youtube {
	@extend %gradient;
	height: 100vh;
}

.icons {
	padding-top: 70px;
    padding-bottom: 70px;
	.three {
		padding-left : 0px;
		li {
			list-style-type: none;
		}
		.title {
			color: #0071bc;
		}
	}
}

.about {
	@extend %gradient;
	color: white;
	.wrapper-first {
		margin: 40px 0 0;
	}
	.wrapper-second {
    	margin: 40px 0;
	}
	.wrapper-third {
		height: 100%;
		.background {
			background-image: url("../img/empty.png");
			background-size: cover;
			height: 100%;
			background-position: center;
		}
	}
}

.social-cont {
	background: linear-gradient(to right, #b84d9d 20%, #875eaa 40%, #6f67b0 65%, #4375ba 90%);
	min-height: 400px;
	.socials {
		padding-left: 0px;
		color: white;
		list-style-type: none;
		.social {
			display: inline-block;
			position: relative;
			bottom: 0px;
			transition: all .3s ease;
		}
		.social:hover {
			bottom: 10px;
		}
		a {
			color: white;
		}
	}
	.wrapper-google-btn {
		position: relative;
	    bottom: 0px;
	    transition: all .3s ease;
		.google-btn {
			width: 200px;
		    display: block;
		    text-align: center;
		    margin: 0 auto;
		    z-index: 2;
		    position: relative;
		    margin-top: 30px;
		}
	}
	.wrapper-google-btn:hover {
		bottom: 10px;
		position: relative;
	}
}

footer {
	.navbar-brand {
		margin-right: 0.5rem;
	}
	.pipe {
		display: block;
	    height: 12px;
	    width: 2px;
	    background-color: white;
	    margin-right: 0.5rem;
	    position: relative;
	    top: 4px;
	}
	.mb-0 {
		position: relative;
		top: 3px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.display-4 {
	    font-size: 1.5rem;
	}
	footer .pipe {
		display: none;
	}
	footer .mb-0 {
		display: none;
	}
}

/* Small Devices, Tablets */
@media (min-width:480px) and (max-width : 768px) {
	.jumbotron .wrapper-google-btn .google-btn {
		margin-top: 15px;
	}
}

/* md and down */
@media only screen and (max-width : 991px) {
	.about .wrapper-third {
		padding-bottom: 40px;
	}
	.about .wrapper-third .background {
		height: 400px;
	}
}

/* md and up */
@media only screen and (min-width : 991px) {
	.about .container-fluid {
		min-height: 700px;
		.row {
			min-height: 700px;
			div:last-child {
				padding-right: 0;
			}
		}
	}
}